.a {
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.5);
    padding: 15px;
}

h1 {
    text-align: center;
}

button {
    background-color: whitesmoke;
    border-style: solid;
    border: 3px, grey;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    background-color: salmon;
}

select {
    background-color: whitesmoke;
    border-style: solid;
    border: 3px, grey;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    font-size: 16px;
}